# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ProgramWorkSpace\IdeaProjects\StudyProject\AlgorithmAndDataStructure\AlgorithmAndDataStructureSourceCode\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
